# PostgreSQL
POSTGRES_USER=payflow
POSTGRES_PASSWORD=payflow_pass
POSTGRES_DB=payflow
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Node API
API_PORT=3000

# Python payment service
PAYMENT_SERVICE_PORT=8000
PAYMENT_SERVICE_URL=http://localhost:8000
